@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
  /* background-color: #dbdee0; */
  --btncolor: #1351D8;
  font-family: DM;
}

body {

  max-width: 100%;
  background: linear-gradient(180deg, rgba(243, 246, 253, 0.7) 0%, rgba(243, 246, 253, 0) 86.26%);

}

.navlogo {
  /* width: 3vw;
    height: 6vh; */
  width: 50px;
  height: 50px;
  margin-left: 10vw;
}

.navitem {
  padding-left: 35px;
  font-size: 18px;
  font-weight: 500;
}

.navbtn {
  border-radius: 80px;
  background-color: var(--btncolor);
  margin-right: 10vw;
  width: 140px;
  height: 47px;
  margin-left: 20px;
}

.navcallus {
  color: var(--btncolor);
  font-size: 18px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 3px;
  margin-right: 15px;
}

.calluslogo {
  height: 13px;
  fill: red;
  width: 13px;
  /* padding-bottom: 3px; */
  margin-top: 15px;
}

.navnum {
  margin-top: 0px;
}

.navbar {

  background-color: rgb(255, 255, 255);
}

.servicenavcard {
  background-color: #d9dce4;

  padding: 20px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;

}

.navcardtext {
  margin-left: 15px;
}

li {
  list-style: none;
  margin-top: 8px;
}

.connection-logo {
  height: 25px;
  width: 25px;
}

.navserviceimg {
  width: 250px;
  height: 180px;
  object-fit: cover;
  margin-left: 29px;
}

.proffolionavimg {

  object-fit: cover;
  /* width: 100%; */
  /* height: 50%; */
  border-radius: 10px; 
}

.portfolionavcard {

  /* background-color: #fcfcfc; */

  padding: 20px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;

}

.portfolionavcardtext {
  margin-left: 18px;
  margin-top: 15px;
 
}
.portfolionavcon{
  margin-top: 20px;
}
.navourproduct{
  margin-top: 18px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  background: linear-gradient(180deg, rgba(67, 98, 170, 0.7) 0%, rgba(243, 246, 253, 0) 86.26%);
}