@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
  /* background-color: #dbdee0; */
  --btncolor: #1351D8;
  font-family: DM;
}

body {

  max-width: 100%;
  background: linear-gradient(180deg, rgba(243, 246, 253, 0.7) 0%, rgba(243, 246, 253, 0) 86.26%);

}

.navlogo {
  /* width: 3vw;
    height: 6vh; */
  width: 50px;
  height: 50px;
  margin-left: 10vw;
}

.navitem {
  padding-left: 35px;
  font-size: 18px;
  font-weight: 500;
}

.contactusbtncard {
  border-radius: 80px;
  background-color: var(--btncolor);
  margin-right: 10vw;
  width: 140px;
  height: 47px;
  margin-left: 20px;
  margin-top: 220px;
}

.contactusbtn {
  border-radius: 80px;
  background-color: var(--btncolor);
  margin-right: 10vw;
  width: 140px;
  height: 47px;
  margin-left: 20px;

}

.letstalkbtn {
  border-radius: 80px;
  /* background-color: var(--btncolor); */
  margin-right: 10vw;
  width: 140px;
  height: 47px;
  margin-left: 20px;
  background-color: rgb(191, 228, 253);
  color: #1351D8;
}

.navcallus {
  color: var(--btncolor);
  font-size: 18px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 3px;
  margin-right: 15px;
}

.calluslogo {
  height: 13px;
  fill: red;
  width: 13px;
  /* padding-bottom: 3px; */
  margin-top: 15px;
}

.navnum {
  margin-top: 0px;
}

.navbar {
  /* position: fixed; */
  /* z-index: 1000px; */
  /* top: 1px; */
  background-color: rgb(255, 255, 255);
}

.servicenavcard {
  background-color: #d9dce4;

  padding: 20px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;

}

.howedocard {
  background-color: #fdfdfd;

  /* padding: 25px; */
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.navcardtext {
  margin-left: 15px;
}

li {
  list-style: none;
  margin-top: 8px;
}

.connection-logo {
  height: 25px;
  width: 25px;
}

.navserviceimg {
  width: 250px;
  height: 180px;
  object-fit: cover;
  margin-left: 29px;
}

.proffolionavimg {

  object-fit: cover;
  /* width: 100%; */
  /* height: 50%; */
  border-radius: 10px;
}

.portfolionavcard {

  /* background-color: #fcfcfc; */

  padding: 20px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;

}

.portfolionavcardtext {
  margin-left: 18px;
  margin-top: 15px;

}

.portfolionavcon {
  margin-top: 20px;
}

.navourproduct {
  margin-left: 40px;
  margin-top: 18px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  /* background: linear-gradient(180deg, rgba(67, 98, 170, 0.7) 0%, rgba(243, 246, 253, 0) 86.26%); */
}

.howedo {
  background-color: black;
  padding: 40px;
  border-radius: 15px;
}

.howedotext {
  font-size: 50px;
  color: aliceblue;
}

.ourmodeltext {
  color: rgb(66, 118, 163);
}

.savetimetext {
  color: rgb(194, 201, 207);
}

.delingcontent {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 655px;
  color: rgb(28 28 28 / 80%);
}

.delingheading {
  font-family: var(--font_yantramanv);
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -1px;
}

.delinglogheading {
  font-family: var(--font_syne);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--primary_color);
  margin: 0;
  text-transform: uppercase;
  color: #1351d8;
}

.services5 {
  /* height: auto; */
  /* max-width: 100%; */
  /* border: none; */
  /* border-radius: 0; */
  /* box-shadow: none; */
  /* object-fit: contain; */
  height: 35px;
  width: 35px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.professionalservicescard {
  padding: 31px;
  border-radius: 10px;
}

.professionalservicescontainer {
  margin-top: 70px;
  padding-bottom: 150px;
}

.footer {
  background-color: black;
  color: white;
}

.footerlogo {
  width: 50px;
}

.footercontainer {
  /* margin-top: 60px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.footerinput {
  background-color: black;
  border: 2px solid white;
  width: 250px;
}

.footercomlogo {
  height: 24px;
  width: 109px;
  margin-left: 20px;
}

.apontmentbtn {
  background-color: #1351d8;
  color: #fdfdfd;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

.footerdivider {
  /* border-right: 1px solid rgb(122, 116, 113); */
  padding-top: 50px;
  /* border-top: 1px solid rgb(122, 116, 113); */
}

.inputdiv {
  border-right: 1px solid rgb(122, 116, 113);
  /* border-style:solid; */
}

.footersignup {
  border-top: 1px solid rgb(122, 116, 113);
  border-bottom: 1px solid rgb(122, 116, 113);
  padding-bottom: 40px;
}

.getintouch {
  padding: 40px;
  /* background-color: #b7bed1; */
}

.getintouch1 {
  background-color: #f3f6fd;
  padding: 50px;
  border-radius: 15px;
}

.touchform {
  border-top: 1px solid rgb(122, 116, 113);
  margin-top: 30px;
}

.inputarea {
  width: 240px;
  border-radius: 5px;
  height: 40px;
  border-color: rgb(228, 228, 228);
}

.emailtextaria {
  width: 519px;
  margin-left: 12px;
  border-radius: 5px;
  height: 40px;
}

.formsubmit {
  margin-top: 30px;
  width: 550px;
  background-color: #44547e;
}

.exprience {
  padding: 30px;
  background-color: #f3f6fd;
  border-radius: 15px;
  padding-top: 50px;
}

.expeince1con {
  padding: 38px;
  border-bottom: 1px solid rgb(122, 116, 113);
}

.years22 {
  font-size: 30px;
  font-weight: 600;
}

.inhow {
  color: #1351d8;
}

.thirdcolicon {
  width: 35px;
  margin-bottom: 25px;
}

.contactcard {
  padding: 70px;
  background-color: #f3f6fd;
  border-radius: 20px;
  justify-content: center;

}

.productivity {
  background-color: #44547e;
  padding: 70px;
  width: 100vw;
  margin-left: 1px;
}

.productivitybtn {
  width: 170px;
  height: 45px;
  margin: 13px;
  margin-top: 50px;

}

.sliderimage {
  height: 128px;
  width: 290px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
}

.home-slider-img {
  height: 108px;
  width: 128px;
  object-fit: contain;

}

.articlecard {
  margin-top: 40px;
  background-color: #000000;
  color: rgb(206, 206, 206);
  border-radius: 15px;
}

.articlecard img {
  width: 650px;
}

.product {
  background-color: #f3f6fd;
  padding: 30px;
  color: #34363d;
  margin-top: 25px;
  border-radius: 15px;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 70vh;

}

.endbtn {
  /* float: right; */
  /* clear: both; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: #44547e;

}

.productcard {
  display: flex;
  gap: 30px;
}

.showcasework {
  background-color: #dae2f5;
  /* padding: 15%; */
}

.col1 {
  padding: 8%;
}

.dim {
  font-size: 20px;
  color: rgb(28 28 28 / 80%);
}

.col2 {
  margin-top: 60px;
}

.saas {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: #141212;
  background-image: url("https://wpriverthemes.com/synck/wp-content/uploads/2023/11/project-3.png");
}

.app {  
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: #000000;
  background-image: url("https://wpriverthemes.com/synck/wp-content/uploads/2023/11/project-2.png");
}
.ecom{
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: #fdfdfd;
  background-position: center; 

  background-image: url("https://wpriverthemes.com/synck/wp-content/uploads/2023/11/project-1.png");
}